# Node.js (frontend)
frontend/node_modules/
frontend/build/

# Laravel (backend)
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/

# Go (backend)
backend/bin/
backend/.env
backend/.uploads/products

.DS_Store
Thumbs.db
